body{
    font-family: Montserrat;
}
.navbar{
    margin-top: 20px;
}
.navbar-brand {
    font-family: "Montserrat-SemiBold", Helvetica;
    font-style: normal;
    font-size: 22px;
    line-height: 27px;
    color: #0c0c0e;
}
.nav-link{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    text-align: center;  
    color: #151517; 
}
a.nav-link:hover{
    color: #A55248;
}
a.nav-link.home{
    color: #A55248;
}
a.nav-link.about{
    color: #A55248;
}
.img-thumbnail-l {
    padding: .25rem;
    position: absolute;
    width: 600px;
    right: 200px;
    top: 99px;
    height: auto;
    border: 0px;
    background-color: transparent;
}
.img-thumbnail-2 {
    padding: .25rem;
    position: absolute;
    width: 380px;
    top: 152px;
    height: auto;
    border: 0px;
    background-color: transparent;
}
.text{    
    position: absolute;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 540px;
    top: 160px;
    font-size: 49px;
  }
.span-1 {
    color: rgba(165, 82, 72, 1);
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
  }
.short-info{
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
}
.social-icon {
    align-items: center;
    display: flex;
    min-width: 284px;
  }
.follow-me {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #828282;
}
a .follow-icons {
    height: 32px;
    margin-left: 28px;
    width: 32px;
    margin-bottom: 20px;
  }
.buttons-home{
    align-items: center;
    display: flex;
}  
.btn-1 {
    font-weight: 400;
    color: #ffff;
    width: 157px;
    text-align: center;
    vertical-align: middle;
    background-color: #A55248;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}
a{
    color: #ffff;
}
a:hover{
    color: #ffff;
}
.btn-2 {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    border-radius: 10px;
    margin-left: 26px;
    font-size: 1rem;
    width: 157px;
    line-height: 1.5;
    border-radius: .25rem;
    border-color: #A55248;
}
#mail{
    margin-right: 22px;
}
#download{
    margin-right: 15px;
}

/* about */
.text-2{    
    position: relative;
    flex-direction: column;
    height: auto;
    margin-left: 550px;
    width: 600px;
    top: 90px;
    font-size: 48px;
  }
.follow-icons {
    height: 40px;
    margin-left: 28px;
    width: 45px;
    margin-bottom: 20px;
  }
  .follow-icons.adobe {
    margin-left: 0px;
  }

  .short-info.email{
    font-weight: bold;
  }
  /* Experience */
  .experience{
     position: relative;
     height: auto;
     top: 700px;
     font-size: 48px;
  }
img#ex-img-1{
      width: 100px;
      height: 100px;
  }
  .e-1{
      margin-top: 15px;
      font-size: 30px;
  }
  .projects{
    position: relative;
    height: auto;
    top: 700px;
    font-size: 48px;
 }
